<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.robot.dao.AssociationDao">

    <resultMap id="robotNews" type="com.robot.entity.RobotNews">
        <id column="url_object_id" property="id"/>
        <result column="url" property="url"/>
        <result column="title" property="title"/>
        <result column="amount" property="amount"/>
        <result column="post_date" property="postDate"/>
        <result column="article" property="content"/>
    </resultMap>

    <select id="getRobotNewsInf" resultMap="robotNews">
        select * from robotnews where url_object_id = #{id}
    </select>
    <select id="getRobotNewsTop" resultMap="robotNews">
        select url_object_id,title,post_date from robotnews order by post_date desc limit 9
    </select>

    <select id="findNews" resultMap="robotNews">
        select * from robotnews where 1=1
        <if test="title!=null and title.trim().length()>0">
            and locate(#{title},title)>0
        </if>
    </select>

    <resultMap id="associationMember" type="com.robot.entity.Member">
       <id property="id" column="id"/>
        <result property="memberName" column="name"/>
        <result property="position" column="position"/>
        <result property="companyId" column="c_id"/>
    </resultMap>

    <select id="getAssociationMember" resultMap="associationMember">
        select * from association_member where position in ('轮值会长' ,'常务副会长');
    </select>

    <select id="getAllMember" resultMap="associationMember">
        select * from association_member;
    </select>

    <resultMap id="noticeMap" type="com.robot.entity.Notice">
        <id property="id" column="notice_id"/>
        <result property="title" column="title"/>
        <result property="time" column="post_date"/>
        <result property="content" column="content"/>
        <result property="viewCount" column="view_count"/>
        <result property="fileStr" column="filename"/>
    </resultMap>

    <select id="getNotice" resultMap="noticeMap">
      select notice_id,title,post_date from association_notice order by post_date desc limit 9
    </select>

    <select id="getNoticeInfo" parameterType="String" resultMap="noticeMap">
      select * from association_notice where notice_id=#{id}
    </select>

    <select id="findNotice" resultMap="noticeMap">
      select notice_id,title,post_date from association_notice where 1=1
      <if test="title!=null and title.trim().length()>0">
        and locate(#{title},title)>0
      </if>
        order by post_date desc
    </select>

    <!--test-->
    <select id="testNotice" resultMap="noticeMap">
        select * from association_notice;
    </select>
</mapper>