<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.robot.dao.CompanyDao">

    <resultMap id="companyArea" type="com.robot.entity.Area">
    <result property="name" column="name"/>
    <result property="areaCount" column="area_count"/>
    </resultMap>

    <resultMap id="companyBrand" type="com.robot.entity.Company">
        <id property="id" column="id"/>
        <result property="name" column="company"/>
        <result property="logo" column="image_url"/>
    </resultMap>

    <!--品牌展厅-->
    <select id="getCompanyBrand" resultMap="companyBrand">
        select id, name, image_url from brand_exhibition order by rand() limit 8;
    </select>
    <!--
    <select id="getCompanyArea" resultMap="companyArea">
        select companyInfo.name, count(companyInfo.name) as area_count from (select * from area inner join company_area on area.id = company_area.area_id) as companyInfo group by companyInfo.name;
    </select>

    <select id="getSpecifiedBrand" parameterType="java.lang.Integer" resultType="com.robot.entity.Company">
        select * from company where type = #{specifiedId};
    </select>

    <select id="getCompanyInfo" parameterType="java.lang.Integer" resultType="com.robot.entity.Company">
      select * from company where id = #{companyId};
    </select>

    <select id="findCompanyById" resultType="java.lang.Integer">
        select count(id) from company where id = #{companyId};
    </select>
    -->

</mapper>