<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.robot.dao.IndustryDao">


    <resultMap id="IndustryCount" type="com.robot.entity.Industry">
        <result property="name" column="name"/>
        <result property="industryCount" column="industry_count"/>
    </resultMap>

    <select id="getIndustryCount" resultMap="IndustryCount">
        select industryInfo.name, count(industryInfo.name) as industry_count from (select * from industry inner join company_industry on industry.id = company_industry.industry_id) as industryInfo group by industryInfo.name;
    </select>
</mapper>