<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.robot.dao.InformationDao">
    <resultMap id="informationMap" type="com.robot.entity.RobotNews">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="postDate" column="post_date"/>
        <result property="img" column="cover"/>
        <result property="url" column="url"/>
        <result property="source" column="source"/>
        <result property="viewCount" column="view_count"/>
        <result property="readGuide" column="guide"/>
    </resultMap>
    <resultMap id="informationDetail" type="com.robot.entity.RobotNews" extends="informationMap">
        <collection property="content" column="{informationId=id}" javaType="java.util.ArrayList" ofType="com.robot.entity.Detail" select="getContentOfInfo"/>
    </resultMap>
    <resultMap id="informationDto" type="com.robot.dto.InformationDto">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="postDate" column="post_date"/>
        <result property="img" column="cover"/>
        <result property="content" column="content"/>
        <result property="link" column="url"/>
    </resultMap>
    <resultMap id="contentMap" type="com.robot.entity.Detail">
        <result column="content" property="content"/>
        <result column="page" property="page"/>
    </resultMap>
    <resultMap id="reportMap" type="com.robot.entity.Report">
        <id property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="title" column="title"/>
        <result property="img" column="cover"/>
        <result property="delivery" column="delivery"/>
        <result property="firstPostDate" column="first_post_date"/>
        <result property="postDate" column="new_post_date"/>
        <result property="editor" column="editor"/>
        <result property="industry" column="industry"/>
        <result property="guide" column="guide"/>
        <result property="graphNum" column="graph_num"/>
        <result property="reportPage" column="report_page"/>
        <result property="reportNum" column="report_num"/>
        <result property="production" column="production"/>
        <result property="url" column="url"/>
        <result property="viewCount" column="view_count"/>
    </resultMap>
    <!--技术研讨-->
    <resultMap id="discussMap" type="com.robot.entity.RobotNews">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="postDate" column="post_date"/>
        <result property="img" column="cover"/>
    </resultMap>
    <!--首页资讯-->
    <select id="getIndexInformation" parameterType="map" resultMap="informationMap">
        select id,title,post_date,cover from information where category_id=#{categoryId} order by post_date desc limit #{number}
    </select>
    <!--资讯列表-->
    <select id="getInformationList" parameterType="int" resultMap="informationDetail">
        select id,title,post_date,cover,guide,view_count from information where category_id=#{categoryId} order by post_date desc
    </select>
    <!--资讯详情-->
    <select id="findInformationInfo" parameterType="int" resultMap="informationDetail">
        select * from information where id=#{id}
    </select>
    <!--获取资讯中有封面的数据-->
    <select id="getIndexCover" resultMap="informationMap" parameterType="map">
        select id, title, cover, post_date from information where category_id=#{categoryId} and cover!='' limit #{number}
    </select>
    <!--查询正文所有分页-->
    <select id="getContentOfInfo" resultMap="contentMap" parameterType="map">
        select * from information_content where information_id=#{informationId,jdbcType=INTEGER}
    </select>
    <!--首页技术研讨-->
    <select id="getIndexDiscuss" parameterType="int" resultMap="discussMap">
        select id, cover, title  from technique_discuss limit 20
    </select>
    <!--搜索-->
    <select id="find" resultMap="informationDetail" parameterType="map">
        select * from information where 1=1
        <if test="content !=null and content.trim().length()>0 ">
            and locate(#{content},title)>0 or id in(select distinct information_id from information_content where locate(#{content},content)>0)
        </if>
        <if test="categoryIds !=null and categoryIds.size()!=0">
            and category_id in
                            <foreach item="item" index="index" collection="categoryIds" open="(" separator="," close=")">
                                #{item}
                            </foreach>
        </if>
      order by post_date desc
    </select>
    <!-- 搜索统计-->
    <select id="searchCount" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(id) from information where 1=1
        <if test="_parameter!=null and _parameter.trim().length()>0">
            and locate(#{content},title)>0 or id in(select distinct information_id from information_content where locate(#{content},content)>0)
        </if>
    </select>
    <!-- 搜索某些类别下结果总数-->
    <select id="searchCategoryCount" resultType="java.lang.Integer" parameterType="map">
        select count(id) from information where category_id in
          <foreach item="item" index="index" collection="categoryIds" open="(" separator="," close=")">
            #{item}
          </foreach>
        <if test="content!=null and content.trim().length()>0">
            and (locate(#{content},title)>0 or
                                              id in(
                                                    select distinct information_id from information_content where
                                                                                                                  locate(#{content},content)>0
                                                    )
                )
        </if>
    </select>
    <!-- 相关关键字-->
    <select id="findRelatedKeyword" parameterType="int" resultType="java.lang.String">
        select keyword from keyword where id in (select keyword_id from keyword_information where information_id=#{informationId})
    </select>
    <select id="findRepRelatedKeyword" parameterType="int" resultType="java.lang.String">
        select keyword from keyword where id in (select keyword_id from keyword_information where report_id = #{reportId})
    </select>
    <!-- 相关information-->
    <select id="findRelatedInformation" parameterType="int" resultMap="informationMap">
        select id, title from information where id in (
                                                        select information_id from (
                                                                                    select distinct information_id from keyword_information where keyword_id in (
                                                                                                                                                                  select keyword_id from keyword_information where information_id=#{informationId}
                                                                                                                                                                  )
                                                                                                                                                                  and information_id!=#{information} limit 5)as a
                                                        )
    </select>

    <!--首页资讯【带内容】-->
    <select id="getIndexInformationWithContent" parameterType="map" resultMap="informationDto">
        select a.id,title,post_date,cover,content,url from information a,information_content where category_id=#{categoryId} and information_id=a.id and page=1 order by post_date desc limit #{number}
    </select>
    <select id="findInformationById" parameterType="int" resultType="java.lang.String">
        select title from information where id=#{id}
    </select>
    <!--删除正文内容-->
    <delete id="deleteContent" parameterType="int">
        delete from information_content where information_id in
                                                            <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
                                                                #{item}
                                                            </foreach>
    </delete>
    <!--删除文章-->
    <delete id="deleteInformation">
        delete from information where id in
                                        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
                                            #{item}
                                        </foreach>
    </delete>
    <!--添加-->
    <insert id="add" parameterType="com.robot.entity.RobotNews">
        insert into information(url,cover,title,guide,source,category_id,post_date)
        values(#{url},#{img},#{title},#{readGuide},#{source},#{categoryId},#{postDate})
        <selectKey resultType="java.lang.Integer" keyProperty="id">
            SELECT @@IDENTITY AS ID
        </selectKey>
    </insert>
    <insert id="addContent" parameterType="map">
        insert into information_content(information_id,content,page) values(#{id},#{content},#{page})
    </insert>
    <!--修改-->
    <update id="update" parameterType="com.robot.entity.RobotNews">
        update information
        <set>
            <if test="img!=null">cover=#{img},</if>
            <if test="title!=null">title=#{title},</if>
            <if test="readGuide!=null">guide=#{readGuide},</if>
            <if test="source!=null">source=#{source},</if>
        </set>
        where id=#{id}
    </update>
    <!--修改内容-->
    <update id="updateContent" parameterType="map">
        update information_content set content=#{content} where information_id=#{informationId} and page=#{page}
    </update>
    <!--浏览数递增-->
    <update id="addCount" parameterType="Integer">
        update information set view_count = ((select view_count from (select view_count from information where id = #{id})i1) + 1) where id = #{id};
    </update>
    <!--查找相关热点-->
    <select id="findRelatedHot" resultMap="informationMap">
        select id,title from (select * from information where category_id = 6 or category_id = 7 or category_id = 12)t1 order by view_count desc limit 10;
    </select>
    <!--首页行业报告-->
    <select id="findReportTop" resultMap="reportMap">
        select id,cover,title,new_post_date from industry_report order by new_post_date desc limit 12
    </select>
    <!--行业报告列表-->
    <select id="findReportList" resultMap="reportMap">
        select id,cover,title,guide,new_post_date,view_count from industry_report order by new_post_date desc
    </select>
    <!--行业报告详情-->
    <select id="findReportInfo" resultMap="reportMap">
        select * from industry_report where id = #{id}
    </select>
    <update id="addCountRep" parameterType="Integer">
        update industry_report set view_count = ((select view_count from (select view_count from industry_report where id = #{id})i1) + 1) where id = #{id};
    </update>
</mapper>