<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.robot.dao.InformationDao">
    <resultMap id="informationMap" type="com.robot.entity.RobotNews">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="postDate" column="post_date"/>
        <result property="img" column="cover"/>
        <result property="url" column="url"/>
        <result property="source" column="source"/>
        <result property="viewCount" column="view_count"/>
        <result property="readGuide" column="guide"/>
    </resultMap>
    <resultMap id="informationDetail" type="com.robot.entity.RobotNews" extends="informationMap">
        <collection property="content" column="{informationId=id}" javaType="java.util.ArrayList" ofType="com.robot.entity.Detail" select="getContentOfInfo"/>
    </resultMap>
    <resultMap id="contentMap" type="com.robot.entity.Detail">
        <result column="content" property="content"/>
        <result column="page" property="page"/>
    </resultMap>
    <!--首页资讯-->
    <select id="getIndexInformation" parameterType="map" resultMap="informationMap">
        select id,title,post_date,cover from information where category_id=#{categoryId} order by post_date desc limit #{number}
    </select>
    <!--资讯列表-->
    <select id="getInformationList" parameterType="int" resultMap="informationMap">
        select id,title,post_date,cover from information where category_id=#{categoryId}
    </select>
    <!--资讯详情-->
    <select id="findInformationInfo" parameterType="int" resultMap="informationDetail">
        select * from information where id=#{id}
    </select>
    <!--获取资讯中有封面的数据-->
    <select id="getIndexCover" resultMap="informationMap" parameterType="map">
        select id, title, cover, post_date from information where category_id=#{categoryId} and cover!='' limit #{number}
    </select>
    <!--查询正文所有分页-->
    <select id="getContentOfInfo" resultMap="contentMap" parameterType="map">
        select * from information_content where information_id=#{informationId,jdbcType=INTEGER}
    </select>
    <!--首页行业报告
    <select id="getIndexReport" parameterType="int" resultMap="">

    </select>
    -->
    <!--首页技术研讨
    <select id="getIndexDiscuss" parameterType="int" resultMap="">

    </select>
    -->
</mapper>