<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.robot.dao.InformationDao">
    <resultMap id="informationMap" type="com.robot.entity.RobotNews">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="postDate" column="post_date"/>
        <result property="img" column="cover"/>
        <result property="url" column="url"/>
        <result property="source" column="source"/>
        <result property="viewCount" column="view_count"/>
        <result property="readGuide" column="guide"/>
    </resultMap>
    <resultMap id="informationDetail" type="com.robot.entity.RobotNews" extends="informationMap">
        <collection property="content" column="{informationId=id}" javaType="java.util.ArrayList" ofType="com.robot.entity.Detail" select="getContentOfInfo"/>
    </resultMap>
    <resultMap id="contentMap" type="com.robot.entity.Detail">
        <result column="content" property="content"/>
        <result column="page" property="page"/>
    </resultMap>
    <!--首页资讯-->
    <select id="getIndexInformation" parameterType="map" resultMap="informationMap">
        select id,title,post_date,cover from information where category_id=#{categoryId} order by post_date desc limit #{number}
    </select>
    <!--资讯列表-->
    <select id="getInformationList" parameterType="int" resultMap="informationDetail">
        select id,title,post_date,cover,guide from information where category_id=#{categoryId}
    </select>
    <!--资讯详情-->
    <select id="findInformationInfo" parameterType="int" resultMap="informationDetail">
        select * from information where id=#{id}
    </select>
    <!--获取资讯中有封面的数据-->
    <select id="getIndexCover" resultMap="informationMap" parameterType="map">
        select id, title, cover, post_date from information where category_id=#{categoryId} and cover!='' limit #{number}
    </select>
    <!--查询正文所有分页-->
    <select id="getContentOfInfo" resultMap="contentMap" parameterType="map">
        select * from information_content where information_id=#{informationId,jdbcType=INTEGER}
    </select>
    <!--首页行业报告
    <select id="getIndexReport" parameterType="int" resultMap="">

    </select>
    -->
    <!--首页技术研讨
    <select id="getIndexDiscuss" parameterType="int" resultMap="">

    </select>
    -->
    <!--搜索-->
    <select id="find" resultMap="informationDetail" parameterType="map">
        select * from information where 1=1
        <if test="title !=null and title.trim().length()>0 ">
            and locate(#{title},content)>0 or id in(select distinct information_id from information_content where locate(#{content},content)>0)
        </if>
        <if test="categoryIds !=null and categoryIds.size()!=0">
            and category_id in
                            <foreach item="item" index="index" collection="categoryIds" open="(" separator="," close=")">
                                #{item}
                            </foreach>
        </if>
    </select>
    <!-- 搜索统计-->
    <select id="searchCount" resultType="int" parameterType="java.lang.String">
        select count(id) from information where 1=1
        <if test="_parameter!=null and _parameter.trim().length()>0">
            and locate(#{content},title) or id in(select distinct information_id from information_content where locate(#{content},content)>0)
        </if>
    </select>
    <!-- 搜索某些类别下结果总数-->
    <select id="searchCategoryCount" resultType="int" parameterType="map">
        select count(id) from information where category_id in
          <foreach item="item" index="index" collection="categoryIds" open="(" separator="," close=")">
            #{item}
          </foreach>
         and (locate(#{content},title) or
                                          id in(
                                                select distinct information_id from information_content where
                                                                                                              locate(#{content},content)>0
                                                )
              )
    </select>
    <!-- 相关关键字-->
    <select id="findRelatedKeyword" parameterType="int" resultType="java.lang.String">
        select keyword from keyword where id in (select keyword_id from keyword_information where information_id=#{informationId})
    </select>
    <!-- 相关information-->
    <select id="findRelatedInformation" parameterType="int" resultMap="informationMap">
        select id, title from information where id in (
                                                        select information_id from (
                                                                                    select distinct information_id from keyword_information where keyword_id in (
                                                                                                                                                                  select keyword_id from keyword_information where information_id=#{informationId}
                                                                                                                                                                  )
                                                                                                                                                                  and information_id!=#{information} limit 5)as a
                                                        )
    </select>


    <select id="findInformationById" parameterType="int" resultType="java.lang.String">
        select title from information where id=#{id}
    </select>
    <!--删除-->
    <delete id="delete" parameterType="int">
        delete from information where id=#{id}
    </delete>
    <!--添加-->
    <insert id="add" parameterType="com.robot.entity.RobotNews">
        insert into information(url,cover,title,guide,source,category_id)
        values(#{url},#{img},#{title},#{readGuide},#{source},#{categoryId})
        <selectKey resultType="java.lang.Integer" keyProperty="id">
            SELECT @@IDENTITY AS ID
        </selectKey>
    </insert>
    <insert id="addContent" parameterType="map">
        insert into information_content(information_id,content,page) values(#{id},#{content},#{page})
        <selectKey resultType="java.lang.Integer" keyProperty="id">
            SELECT @@IDENTITY AS ID
        </selectKey>
    </insert>
    <!--修改-->
    <update id="update" parameterType="com.robot.entity.RobotNews">
        update information i,information_content ic
        <set>
            <if test="img!=null">cover=#{img},</if>
            <if test="title!=null">title=#{title},</if>
            <if test="readGuide!=null">guide=#{readGuide}</if>
        </set>
        where i.id=#{id}
    </update>

</mapper>