<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.robot.dao.IntroductionDao">
    <resultMap id="introductionMap" type="com.robot.entity.Introduction" autoMapping="true">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="content" property="introduction"/>
        <result column="category_id" property="categoryId"/>
        <result column="post_date" property="postDate"/>
    </resultMap>

    <select id="getIndexIntroduction" parameterType="map" resultMap="introductionMap">
        select id, name from introduction where category_id=#{categoryId} limit #{number}
    </select>

    <select id="getIntroductionList" parameterType="int" resultMap="introductionMap">
        select id, name, content from introduction where category_id=#{categoryId} order by post_date
    </select>

    <select id="findIntroductionInfo" parameterType="int" resultMap="introductionMap">
        select * from introduction where id=#{id}
    </select>

    <delete id="delete">
        delete from introduction where id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <insert id="add" parameterType="com.robot.entity.Introduction">
        insert into introduction(name,content,category_id,post_date) values(#{name},#{introduction},#{categoryId},#{postDate})
        <selectKey resultType="java.lang.Integer" keyProperty="id">
            SELECT @@IDENTITY AS ID
        </selectKey>
    </insert>

    <update id="update" parameterType="com.robot.entity.Introduction">
        update introduction
        <set>
            <if test="name!=null">name=#{name},</if>
            <if test="introduction!=null">content=#{introduction},</if>
            <if test="postDate!=null">post_date=#{postDate}</if>
        </set>
        where id=#{id}
    </update>

    <select id="findIntroductionById" parameterType="int" resultType="java.lang.String">
        select name from introduction where id=#{id}
    </select>

    <select id="find" parameterType="map" resultMap="introductionMap">
        select id, name, content,post_date from introduction where category_id=#{categoryId} and (locate(#{content},name)>0 or locate(#{content},content)>0)
        <if test="ids !=null and ids.size()!=0">
            and id in
            <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        order by post_date
    </select>

    <insert id="insertMemberIntroduction" >
        insert into member_introduction(introduction_id,user_id) values(#{introductionId},#{userId})
    </insert>

    <delete id="deleteMemberIntroduction">
        delete from member_introduction where introduction_id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="selectMemberIntroduction" resultType="java.lang.Integer">
        select introduction_id from member_introduction  where user_id=#{userId}
    </select>
</mapper>