<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.robot.dao.ProductDao">

    <resultMap id="productMap" type="com.robot.entity.Product" autoMapping="true">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="postDate" column="post_date"/>
        <result property="coverImg" column="cover"/>
    </resultMap>
    <!-- 首页产品 -->
    <select id="getProductLibrary" resultMap="productMap">
    select id, name, pro_last_up_time, cover from product order by pro_last_up_time desc limit 0, 16;
    </select>
</mapper>